/* iPhone XR and 11 - 1792x828px at 326ppi */
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
    /* Your awesome CSS goes here! */
}


    
/* iPhone X, XS and 11 Pro - 2436x1125px at 458ppi */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    /* Your awesome CSS goes here! */
}



/* iPhone XS Max and 11 Pro Max - 2688x1242px at 458ppi */
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    /* Your awesome CSS goes here! */
}



/* iPhone X, XR, XS, XS Max, 11, 11 Pro and 11 Pro Max */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2)
    and (orientation : landscape),
only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape),
only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {
        /* Your awesome CSS goes here! */
}